/*VARIABLES*/
:root {
    --dr: darkred;
    --hg: 3e5641;
    --ch: A24936;
    --fl: D36135;
    --je: 282B28;
    --cb: 282B28;
    --red: rgb(189, 3, 3);
    --head: rgb(32, 32, 32);
    --foot: rgb(65, 65, 65);
}

html, body {
    height: 100%;
}

/*RESETS */
body{
    background-color: darkgrey;
    margin:0;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 0;
}
  
a   {
 text-decoration: none;
}

/* ANIMATIONS */
@keyframes slide-in {
    from{
        transform: translateX(-300%);
    }

    to{
        transform: translateX(0);
    }
}


/* CUSTOM STYLES */
header {
    /* aligns direct children on a row left to right */
    display: flex;
    /*once you display flex you can display both horizontally and vertically with flex box properties*/
    /* align items will align the direct children on the y axis (top to bottom)*/
    align-items: center;
    /* push the direct children as far apart  as possible using the space between them (x-axis)*/
    /* justify-content: space-between; */
    background-color:rgb(32, 32, 32);
    padding: 25px 7% 20px;
}

header nav {
    /* percentage values are always a percentage of the parents value(width/hieght) */
    margin-left: 150px;
}
  
header a{
    color:var(--red);
}

  
header a:hover, header a.active {
    text-decoration: underline;

}
  
header nav a{
    color:white;
    position: relative;
    text-decoration: none !important;
}

header nav a:hover:after, header nav a.active:after{
    /* sudedo elements rewuire that you add a content property */
    content: '';
    background-color: white;
    width: 100%;
    height: 5px;
    position: absolute;
    left:0;
    bottom: -10px;
    text-decoration: none;
}  

header nav a:not(:last-child){
    margin-right: 10px;
}

/* header nav a :first-child{
    margin-right: 10px;
    top: 50px;
} */

main{
    display: flex;
    justify-content: space-between;
    padding: 45px 3% 0 10%;
    background-image: linear-gradient(rgba(0,0,0,0)rgba(0,0,0,0)), url(../images/person.jpg);
    background-size: cover;
    flex: 1;
}

section p {
    color:var(--dr);
}

section h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 0 25px;
    animation: slide-in 1s;
}

section button {
    background: none;
    border: 3px solid var(--dr);
    padding: 0 0 0 10px;
    color: white;
    text-transform:  uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 4s;
}

section button i {
    color: white;
    font-size: 1.5rem; 
    background-color: var(--dr);
    padding: 10px 15px;
    margin-left: 15px;
}

section button:hover {
    background-color: --red;
    color: white;
    transform: translateX(10px);
}
aside {
    display:flex;
    align-items: center;
    transform: rotate(90deg);
    position: relative;
    left: 70px;
}

aside p {
    color: var(--dr);
    margin-right: 15px;
}

aside i {
    color: var(--dr);
    margin-right: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    background: rgb(65, 65, 65);
    padding: 20px 7%;
    color: rgb(155, 154, 154);
}

.chat {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 500;
}

.chat button {
    background-color:  black;
    border: 2px solid rgb(189, 3, 3);
    padding: 7px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}






/* MEDIA QUERY */
/* Max width works for size and below */
/* Min width works for size and above */
@media (max-width:700px) {
    main{
        background-position: right;
        background-image: linear-gradient(rgba(2323,62,0.5)rgba(23,23,62,0.5)), url(../images/person.jpg);

    }
}

@media (max-width:400px) {
    main{
        background-position: 80% 100%;
        background-size: cover;
        background-image: linear-gradient(rgba(2323,62,0.5)rgba(23,23,62,0.5)), url(../images/person.jpg);

    }
}