/*VARIABLES*/
:root {
    --dr: darkred;


}


/*RESETS */
body{
    background-color: seagreen;
    margin:0;
    font-family: sans-serif;
    overflow-x: hidden;
}

h3 {
    margin: 0;
}
  
a   {
 text-decoration: none;
}

/* ANIMATIONS */
@keyframes slide-in {
    from{
        transform: translateX(-300%);
    }

    to{
        transform: translateX(0);
    }
}


/* CUSTOM STYLES */
header {
    /* aligns direct children on a row left to right */
    display: flex;
    /*once you display flex you can display both horizontally and vertically with flex box properties*/
    /* align items will align the direct children on the y axis (top to bottom)*/
    align-items: center;
    /* push the direct children as far apart  as possible using the space between them (x-axis)*/
    /* justify-content: space-between; */
    background-color:rgb(250, 95, 38);
    padding: 25px 7% 20px;
}

header nav {
    /* percentage values are always a percentage of the parents value(width/hieght) */
    margin-left: 150px;
}
  
header a{
    color:var(--dr);
}

  
header a:hover, header a.active {
    text-decoration: underline;

}
  
header nav a{
    color:white;
}
  
header nav a:not(:last-child){
    margin-right: 10px;
}

main{
    display: flex;
    justify-content: space-between;
    padding: 45px 3% 0 10%;
}

section p {
    color:var(--dr);
}

section h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0 0 25px;
    animation: slide-in 1s;
}

section button {
    background: none;
    border: 3px solid var(--dr);
    padding: 0 0 0 10px;
    color: white;
    text-transform:  uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 4s;
}

section button i {
    color: white;
    font-size: 1.5rem; 
    background-color: var(--dr);
    padding: 10px 15px;
    margin-left: 15px;
}

section button:hover {
    background-color: rgb(189, 3, 3);
    color: white;
    transform: translateX(10px);
}
aside {
    display:flex;
    align-items: center;
    transform: rotate(90deg);
    position: relative;
    left: 70px;
}

aside p {
    color: var(--dr);
    margin-right: 15px;
}

aside i {
    color: var(--dr);
    margin-right: 8px;
}